@import "tailwindcss";

html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #FFFFFF;
}

body{
    margin: 0;
    padding: 0;
    background: #F5F5F5;
    color: white;
}

.font-google-sans {
    font-family: 'Google Sans Code', sans-serif;
}

.font-mplus {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}


